.My_Heading {
  color: red;
  font-size: 50px;
  background-color: black;
}
.My_body {
  color: green;
  font-size: 20px;
  background-color: yellow;
  position: fixed;
}
.Extra {
  height: 1000px;
  width: 100%;
}
